{% extends 'base.html' %}

{% block content %}

<h3>Welcome to Marathonr! </h3>
<hr>
  <h2> Feel like you want to binge watch something but that you also need to get off your couch?
    Then Marathonr is here for you! <br><br>

    Our app allows you to search for movie showtimes in theaters located in the geo-location of your chosing and pick up to <b>four
    movies</b> you want to watch in a single day. (We know, it sounds crazy.. <i>AND IT IS</i>) Once you've picked your movies,
    Marathonr does magical math things and builds a movie marathon for you and whoever you'd like to bring along!
    <br>
    <br>
    Once you've been introduced to your marathon, you'll then be provided links to purchase tickets to all the movies you've
    selected. It's just that easy! <br><br>

    We hope you enjoy our app and that you keep supporting the wonderful industry of film!
    <br>
    <br>
    XOXO ♡ Team Marathonr
  </h2>

<h3>About Us</h3>
<hr>
  <h2>
    James Summers - <small>Lead Developer</small><br>
    Michael Summers - <small>Visionary</small><br>
    Chase Roden - <small>Best Coach a Guy Could Ask For</small><br>
    Todd Graves - <small>Asst. Coach of Your Dreams</small><br>
    Justin Castilla - <small>Teacher/Beard Guru</small>
  </h2>
  <h4>
    Marathonr was dreamed up as a concept about 5 years ago by James and Michael Summers. Every year, on the day after Christmas,
    the brothers would dedicate an entire day to watching as many of the new movies that had just come out as possible. This was born out of a
    different family tradition where the entire family would go see a single movie. This quickly became child's play for the brothers
    so they set out on a quest to have a Movie Marathon ever year on December 26th. <br><br>

    Here's the thing about these Marathons: they take a while to plan out. You have to consider:<br><br>

    1. Where are you?<br>
    2. Which movies are most important for you to see?<br>
    3. Which theaters near you are playing those movies?<br>
    4. How long is each movie?<br>
    5. What are each movie's showtimes?<br>
    6. Can all the movies you want to see be arranged in a way that it's possible to do in a single day?<br><br>

    Whew... that's a lot of thinking and potential math to do on a day you're surely still recovering from grandma's
    sweet potatoes. <i>(They were full of brown sugar, dude.)</i><br><br>

    Enter: <b>Marathonr.</b> This handy app will help anyone brave enough and crazy enough to submit themselves
    to a day full of popcorn, dark rooms full of strangers, and the wonderful world of cinematic glory. We're happy to share it with
    anyone and everyone. <br><br>

    Happy Binge Watching, everyone!
  </h4>

  <h3>Technologies Used</h3>
  <hr>
  <h3 id="techUsedList">
    Python + Django<br>
    SQLite <br>
    Git <br>
    Heroku <br>
    HTML5 <br>
    CSS + Bootstrap <br>
  </h3>
  <hr>


{% endblock %}
