{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
	<title>Marathonr</title>
  <!-- Django dropdowns don't work materilize styling on -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'materialize.min.css' %}" / /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" / />
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans" rel="stylesheet">  </head>
  <body>
    <div class="navbar">
      <a href="/"><h1>Marathonr</h1></a>
      {% if user.is_authenticated %}
         <a  class="greeting" href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a> |
         <a  class="greeting" href="{% url 'logout' %}">Logout</a>
         {% else %}
             <a  class="greeting" href="{% url 'login' %}">Login / </a>
             <a  class="greeting" href="{% url 'signup' %}">Signup</a>
       {% endif %}
      <hr />
    </div>

    {% block content %}

	  {% endblock %}

    <footer>
      All Rights Reserved, Marathonr 2017
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
