{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h3>Select up to FOUR movies you want to see in your Marathon!</h3><br>
<div class="container-fluid">
  <div class="row">
    <form class="col-sm-8 col-md-offset-2 form-two" action="marathon/" method="get">
      <h3>Step 2</h3><br>
      {% for movie in movies %}
       <input type="radio" name="{{ movie.title }}">  Title: {{ movie.title }}</input>

       <p>Rating:
         {% if movie.ratings %}
           {% for rating in movie.ratings %}
             {{ rating.code }}
           {% endfor %}</p>
         {% else %}
         NR
       {% endif %}
       <hr />
      {% endfor %}

      <input class="submitBtn col-md-offset-6" type="submit" value="Submit" />
      <input class="submitBtn col-md-offset-6" type="hidden" name="zip" value="{{ zip }}" />
      <input class="submitBtn col-md-offset-6" type="hidden" name="startDate" value="{{ startDate }}" />
    </form>
  </div>
</div>
{% endblock %}
