{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h3>Select 2 to 4 movies you'd like see in your Marathon!</h3>

<form class="" action="marathon/" method="get">

{% for movie in movies %}
 <input type="radio" name="{{ movie.title }}">Title: {{ movie.title }}</input>

 <p>Rating:
   {% if movie.ratings %}
     {% for rating in movie.ratings %}
       {{ rating.code }}
     {% endfor %}</p>
   {% else %}
   NR
 {% endif %}
 <hr />
{% endfor %}

<input type="submit" value="Submit" />
</form>
{% endblock %}
