{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% if user.is_authenticated %}

{% for schedule in marathons.schedules %}
  <h3>Marathon {{forloop.counter}}</h3>
    {% for showtime in schedule %}
      <h5>{{ showtime.movie.title }}</h5>
      <h5>{{ showtime.start_time }} @ {{ showtime.theater }} | <a href="{{showtime.ticketURI}}">Get Tickets</a></h5>
    {% endfor %}
{% endfor %}

{% else %}
  <h3>Please login or sign up to use Marathonr</h3><h3>♡</h3>
{% endif %}

{% endblock %}
