{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
  {% for movie in movies %}
   <p>Title: {{ movie.title }}</p>
   {% if movie.showtimes %}
     <p>Showtimes:<br>
       {% for showtime in movie.showtimes %}
       {{ showtime.theatre.name }} {{ showtime.dateTime }}<br/>
     {% endfor %}</p>
   {% else %}
     <p>Showtimes: Unknown</p>
   {% endif %}
   <p>Rating: <br>
     {% for rating in movie.ratings %}
     {{ rating.code }}<br/>
   {% endfor %}</p>
   <hr />
 {% endfor %}
{% else %}
  <p>Please use the links above to login or sign up to use Marathonr</p>
{% endif %}

{% endblock %}
